<!-- search bar -->
<div class="container mt-5">
  <div class="row search-bar-inner">
    <div class="col-md-10 col-12 mx-auto">
      <form action="/searchSort" class="d-flex flex-row justify-content-between ">
        <div class="w-25 d-flex flex-row">
          <input type="text" name="keyword" class="form-control search-input" placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..." value="{{keywords}}" aria-describedby="search-button">
          <div class="input-group-append px-1">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<!-- dropdown -->
<form action="/searchSort">
  <input type="checkbox" class="drop-down-checkbox" id="drop-down-checkbox">
  <div class="drop-down">
    <label for="drop-down-checkbox">
      <i class="fa-solid fa-filter fa-lg drop-down-filter"></i>
    </label>
    <ul class="drop-down-list">
      <li class="drop-down-item ">
        <button class="drop-down-button drop-top" type="submit" name="word" value="_id,asc">default</button>
      </li>
      <li class="drop-down-item ">
        <button class="drop-down-button" type="submit" name="word" value="name,asc" value="">A-Z</button>
      </li>
      <li class="drop-down-item">
        <button class="drop-down-button" type="submit" name="word" value="name,desc">Z-A</button>
      </li>
      <li class="drop-down-item ">
        <button class="drop-down-button" type="submit" name="word" value="category,asc">category</button>
      </li>
      <li class="drop-down-item">
        <button class="drop-down-button" name="word" value="location,asc" type="submit">location</button>
      </li>
      <li class="drop-down-item cancel-border">
        <button class="drop-down-button drop-bottom" name="word" value="rating,desc" type="submit">rating</button>
      </li>
    </ul>
  </div>
</form>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div style="width: 25rem;height: 15rem;">
      <img src="http://5b0988e595225.cdn.sohucs.com/images/20180930/2b2f08b5c6d3470a89d0d9c1f5be3307.jpeg"
        class="card-img-top" alt="...">
      <h3 class="mt-2" style="font-weight: bold;">很抱歉，找不到關鍵字{{keywords}}</h3>
    </div>
  </div>
</div>