ul,
li {
  list-style-type: none;
  /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

/* .search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
} */
.search-input {
  border-radius: 50px;
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* drop-down */
.drop-down-checkbox {
  display: none;
}
.drop-down {
  position: relative;
}

.drop-down-filter {
  position: absolute;
  top: -20px;
  right: 200px;
}

.drop-down-list {
  position: absolute;
  top: 0;
  right: 180px;
  margin-top: 10px;
  background: #f6f7f8;
  width: 200px;
  min-height: 200px;
  max-height: auto;
  border-radius: 20px;
  z-index: 999;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 0.3s ease-out;
}



.drop-down-button:hover {
  background: #F0F0F0;
}

.drop-down-item {
  opacity: 0;
  border-bottom: 1px solid #E0E0E0;
}

.drop-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.drop-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cancel-border {
  border: none;
}
.drop-down-button {
  width: 100%;
  background: #fff;
  border: none;
  padding: 10px 0;
  text-align: center;
}

.drop-down-checkbox:checked~.drop-down .drop-down-list {
  transform: scale(1, 1);
}

.drop-down-checkbox:checked~.drop-down .drop-down-item {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15;
}

@media screen and (max-width: 992px) {

  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img {
    height: auto;
  }

}